# Archivos compilados y cache de Python
__pycache__/
*.pyc

# Checkpoints de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de entorno virtual y configuraciones sensibles
.env
*.env

# Otros archivos o directorios  
*.log

# Ignorar checkpoints de Jupyter en el directorio lab
lab/.ipynb_checkpoints/

# Ignorar archivos compilados dentro de lab/lib
lab/lib/**/*.pyc
